.toolbar {
  background-color: white;
}

.title {
  margin-left: 15px;
}

.second-row {
  height: 80px;
  border-bottom: 1px solid #c9c9c9;
}

.select-button,
.delete-button,
.search-field {
  color: #4287f5;
}

.sort-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}

.sort-button-option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4287f5;
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  width: 150px;
  font-size: 14px;
}
