<div class="container">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="first-row">
      <span class="title">Angular Part 2</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="second-row">
      <button class="select-button" mat-button (click)="onCheckAllCards()">
        Select all
      </button>
      <button
        class="delete-button"
        mat-button
        [disabled]="deleteButtonState()"
        (click)="onDeleteChecked()"
      >
        Delete
      </button>

      <span class="sort-label">Sorting order</span>
      <button mat-button (click)="onSortDirection()">
        <i class="sort-button-option" *ngIf="sortDirection === 'asc'"
          ><span>A-Z</span><mat-icon>expand_more</mat-icon></i
        >
        <i class="sort-button-option" *ngIf="sortDirection === 'desc'"
          ><span>Z-A</span><mat-icon>expand_less</mat-icon></i
        >
      </button>

      <span class="spacer"></span>
      <mat-form-field class="search-field">
        <input
          class="search-input"
          matInput
          placeholder="Search users"
          [(ngModel)]="searchTerm"
        />
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-userlist
    [searchTerm]="searchTerm"
    [sortDirection]="sortDirection"
    [users]="users"
  ></app-userlist>
  <app-userform (addUser)="addUser($event)"></app-userform>
</div>
