.toolbar {
  background-color: white;
}

.second-row {
  height: 80px;
  border-bottom: 1px solid #c9c9c9;
}

.search-field {
  width: 150px;
  font-size: 14px;
}

.sort-label,
.sort-option {
  font-size: 14px;
}

.sort-field {
  width: 120px;
  margin-left: 12px;
  color: #4287f5;
  font-weight: 500;
}

.select-button,
.delete-button {
  color: #4287f5;
}

.sort-button-option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4287f5;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  margin: 16px;
}

.card-checkbox {
  float: right;
  margin: 10px 0;
}
